[submodule "decentube/lib/forge-std"]
	path = decentube/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "decentube/lib/openzeppelin-contracts"]
	path = decentube/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
